In [1]:
import pandas as pd
from pathlib import Path
import sqlite3
import os

In [2]:
path = Path("data/PEN America's Index of School Book Bans (July 1, 2021 - June 30, 2022).xlsx")
author_title_df = pd.read_excel(path, "Sorted by Author & Title")


author_title_df.head()

,Author,Title,Type of Ban,Secondary Author(s),Illustrator(s),Translator(s),State,District,Date of Challenge/Removal,Origin of Challenge,Latitude,Longitude
0,"Àbíké-Íyímídé, Faridah",Ace of Spades,Banned in Libraries and Classrooms,NaN,NaN,NaN,Florida,Indian River County School District,2021-11-01,Administrator,27.994402,-81.760254
1,"Acevedo, Elizabeth",Clap When You Land,Banned in Classrooms,NaN,NaN,NaN,Pennsylvania,Central York School District,2021-08-31,Administrator,41.203323,-77.194527
2,"Acevedo, Elizabeth",The Poet X,Banned in Libraries,NaN,NaN,NaN,Florida,Indian River County School District,2021-11-01,Administrator,27.994402,-81.760254
3,"Acevedo, Elizabeth",The Poet X,Banned in Libraries and Classrooms,NaN,NaN,NaN,New York,Marlboro Central School District,2022-02-01,Administrator,43.000000,-75.000000
4,"Acevedo, Elizabeth",The Poet X,Banned Pending Investigation,NaN,NaN,NaN,Texas,Fredericksburg Independent School District,2022-03-01,Administrator,31.000000,-100.000000

In [3]:
author_title_df.dtypes

Author                               object
Title                                object
Type of Ban                          object
Secondary Author(s)                  object
Illustrator(s)                       object
Translator(s)                        object
State                                object
District                             object
Date of Challenge/Removal    datetime64[ns]
Origin of Challenge                  object
Latitude                            float64
Longitude                           float64
dtype: object

In [4]:
author_title_df = author_title_df.fillna('')
author_title_df = author_title_df.loc[:, ['Author', 'Title', 'Type of Ban', 'State', 'District', 
                                          'Date of Challenge/Removal', 'Origin of Challenge', 'Latitude', 'Longitude' ]]

author_title_df= author_title_df.rename(columns={'Type of Ban':'Type_of_Ban',
                               'Date of Challenge/Removal': 'Date_of_Challenge_or_Removal',
                               'Origin of Challenge':'Origin_of_Challenge'})

In [5]:
author_title_df.head()

,Author,Title,Type_of_Ban,State,District,Date_of_Challenge_or_Removal,Origin_of_Challenge,Latitude,Longitude
0,"Àbíké-Íyímídé, Faridah",Ace of Spades,Banned in Libraries and Classrooms,Florida,Indian River County School District,2021-11-01,Administrator,27.994402,-81.760254
1,"Acevedo, Elizabeth",Clap When You Land,Banned in Classrooms,Pennsylvania,Central York School District,2021-08-31,Administrator,41.203323,-77.194527
2,"Acevedo, Elizabeth",The Poet X,Banned in Libraries,Florida,Indian River County School District,2021-11-01,Administrator,27.994402,-81.760254
3,"Acevedo, Elizabeth",The Poet X,Banned in Libraries and Classrooms,New York,Marlboro Central School District,2022-02-01,Administrator,43.000000,-75.000000
4,"Acevedo, Elizabeth",The Poet X,Banned Pending Investigation,Texas,Fredericksburg Independent School District,2022-03-01,Administrator,31.000000,-100.000000

In [6]:
author_title_df.to_json('data/author_title.json', orient='records', force_ascii=False)

In [7]:
state_district_df = pd.read_excel(path, "Sorted by State & District")
state_district_df = state_district_df.fillna('')
state_district_df.head()
state_district_df.dtypes
state_district_df = state_district_df.loc[:, ['State', 'District', 'Origin of Challenge','Date of Challenge/Removal',
                                              'Type of Ban', 'Author', 'Title', 
                                           'Latitude', 'Longitude' ]]

state_district_df= state_district_df.rename(columns={'Type of Ban':'Type_of_Ban',
                               'Date of Challenge/Removal': 'Date_of_Challenge_or_Removal',
                               'Origin of Challenge':'Origin_of_Challenge'})
state_district_df.head()

,State,District,Origin_of_Challenge,Date_of_Challenge_or_Removal,Type_of_Ban,Author,Title,Latitude,Longitude
0,Alaska,Anchorage School District,Administrator,2021-10-01,Banned in Libraries and Classrooms,"Kobabe, Maia",Gender Queer: A Memoir,66.160507,-153.369141
1,Arkansas,Siloam Springs School District,Formal Challenge,2022-01-01,Banned in Libraries and Classrooms,"Kuklin, Susan",Beyond Magenta: Transgender Teens Speak Out,34.799999,-92.199997
2,Florida,Brevard Public Schools,Administrator,2022-05-01,Banned Pending Investigation,"Maas, Sarah J.",A Court of Frost and Starlight (A Court of Tho...,27.994402,-81.760254
3,Florida,Brevard Public Schools,Administrator,2022-03-01,Banned Pending Investigation,"Maas, Sarah J.",A Court of Mist and Fury (A Court of Thorns an...,27.994402,-81.760254
4,Florida,Brevard Public Schools,Administrator,2022-05-01,Banned Pending Investigation,"Maas, Sarah J.",A ​Court of Silver Flames (A Court of Thorns a...,27.994402,-81.760254

In [11]:
state_district_df.to_json('data/state_district.json', orient='records',force_ascii=False)

In [31]:
state_district_group_df = state_district_df.groupby('District').first().reset_index()
state_district_group_df

,District,State,Origin_of_Challenge,Date_of_Challenge_or_Removal,Type_of_Ban,Author,Title,Latitude,Longitude
0,Anchorage School District,Alaska,Administrator,2021-10-01,Banned in Libraries and Classrooms,"Kobabe, Maia",Gender Queer: A Memoir,66.160507,-153.369141
1,Ankeny Community School District,Iowa,Formal Challenge,2021-11-01,Banned in Libraries and Classrooms,"Kobabe, Maia",Gender Queer: A Memoir,42.032974,-93.581543
2,Birdville Independent School District,Texas,Formal Challenge,2021-10-01,Banned Pending Investigation,"Kuklin, Susan",Beyond Magenta: Transgender Teens Speak Out,31.000000,-100.000000
3,Bixby Public Schools,Oklahoma,Administrator,2022-06-01,Banned in Libraries and Classrooms,"Curato, Mike",Flamer,36.084621,-96.921387
4,Blount County Schools,Tennessee,Formal Challenge,2022-02-01,Banned in Classrooms,"Yep, Laurence",Dragonwings,35.860119,-86.660156
...,...,...,...,...,...,...,...,...,...
133,Wilkes County School District,North Carolina,Administrator,2022-06-01,Banned in Classrooms,"Warga, Jasmine",The Shape of Thunder,35.782169,-80.793457
134,Williamson County Schools,Tennessee,Formal Challenge,2021-11-01,Banned in Classrooms,"Creech, Sharon",Walk Two Moons,35.860119,-86.660156
135,Wilson County School District,Tennessee,Other,2022-05-01,Banned in Libraries,"Maas, Sarah J.",A Court of Mist and Fury (A Court of Thorns an...,35.860119,-86.660156
136,Wissahickon School District,Pennsylvania,Administrator,2021-10-01,Banned Pending Investigation,"Kobabe, Maia",Gender Queer: A Memoir,41.203323,-77.194527
137,Yorktown Central School District,New York,Formal Challenge,2022-01-01,Banned Pending Investigation,"Johnson, George M.",All Boys Aren't Blue,43.000000,-75.000000

In [33]:
import requests
import numpy as np

# Your Geoapify API key
api_key = "bc76e695f9e54cebae157ec8551f0c47"


dis_lat = []
dis_lng = []
# Assuming 'state_district_df' is your DataFrame and it has columns 'District' and 'State'
for index, row in state_district_group_df.iterrows():
    district = row['District']
    state = row['State']  # Ensure this column exists in your DataFrame
    # Constructing the request URL
    url = f"https://api.geoapify.com/v1/geocode/search?text={district}, United States&apiKey={api_key}"
    
    # Sending the request and storing the response object
    response = requests.get(url)
    
    # Checking if the request was successful
    if response.status_code == 200:
        data = response.json()
        matched = False  # Initialize flag to check if we found a matching state
        
        # Iterate through each feature to find a matching state
        for feature in data['features']:
            # Some responses might not have 'state' in 'properties', so use get() with a default value
            feature_state = feature['properties'].get('state', '').lower()
            if feature_state == state.lower():
                lat = feature['geometry']['coordinates'][1]
                lng = feature['geometry']['coordinates'][0]
                print(f"{district}: Latitude {lat}, Longitude {lng}")
                dis_lat.append(lat)
                dis_lng.append(lng)
                matched = True
                break  
        
        if not matched:
            lat = "N/A"
            lng = "N/A"
            print(f"{district}: Latitude {lat}, Longitude {lng}")
            dis_lat.append(lat)
            dis_lng.append(lng)
            
    else:
        print(f"Failed to fetch data for {district}, Status code: {response.status_code}")

state_district_group_df["Dis_lat"] = dis_lat
state_district_group_df["Dis_lng"] = dis_lng
state_district_group_df.head()

Anchorage School District: Latitude N/A, Longitude N/A
Ankeny Community School District: Latitude 42.934105, Longitude -94.682157
Birdville Independent School District: Latitude 32.307856, Longitude -101.928432
Bixby Public Schools: Latitude N/A, Longitude N/A
Blount County Schools: Latitude 35.682895, Longitude -83.920622
Bonneville Joint School District No 93: Latitude N/A, Longitude N/A
Brevard Public Schools: Latitude 28.22549745, Longitude -80.71472512610023
Bristow Public Schools: Latitude N/A, Longitude N/A
Broward County Public Schools: Latitude 30.317241199999998, Longitude -81.65042933519962
Canaan Schools: Latitude 44.9948262, Longitude -71.53758799270379
Canutillo Independent School District: Latitude 32.930896, Longitude -102.127635
Canyons School District: Latitude N/A, Longitude N/A
Carmel Clay Schools: Latitude 39.9724638, Longitude -86.1546822
Central Kitsap School District: Latitude 47.65499, Longitude -122.70202
Central York School District: Latitude N/A, Longitude N/A
Cherokee County School District: Latitude N/A, Longitude N/A
Chippewa Falls Area Unified School District: Latitude 44.9377388, Longitude -91.3934904
Clay County District Schools: Latitude N/A, Longitude N/A
Clear Creek Independent School District: Latitude N/A, Longitude N/A
Collierville Schools: Latitude 35.0448138, Longitude -89.6673044
Community High School District 117: Latitude N/A, Longitude N/A
Connetquot Central School District: Latitude 44.5817123, Longitude -73.5359697
Cypress-Fairbanks Independent School District: Latitude N/A, Longitude N/A
Denton Independent School District: Latitude 33.222624, Longitude -97.1425953
Derby Public Schools: Latitude 37.555274, Longitude -97.255696
Downingtown Area School District: Latitude 40.7075231, Longitude -80.2783549
Duval County Public Schools: Latitude 30.317241199999998, Longitude -81.65042933519962
East Stroudsburg Area School District: Latitude 41.068476, Longitude -75.166548
Eastern Lancaster County School District: Latitude N/A, Longitude N/A
Edmond Public Schools: Latitude 35.64939165, Longitude -97.39143166124313
Elizabethtown Area School District: Latitude 40.1579711, Longitude -76.5885844540625
Elmbrook Schools: Latitude 43.0618396, Longitude -88.06806746676747
Fairfax County Public Schools: Latitude 38.84622, Longitude -77.30637
Fairview School District: Latitude 40.0955121, Longitude -75.13280901638828
Flagler Schools: Latitude 29.8626603, Longitude -81.31941620829483
Forsyth County Schools: Latitude 34.2333, Longitude -84.14485
Fort Bend ISD: Latitude 29.5604756, Longitude -95.77503887524543
Fort Mill Schools: Latitude 35.0135171, Longitude -80.9637619
Fox C-6 School District: Latitude 37.110195, Longitude -93.308158
Francis Howell School District: Latitude 38.702158, Longitude -90.716388
Franklin Regional School District: Latitude 40.4557102, Longitude -79.6635804
Fredericksburg Independent School District: Latitude 29.455148, Longitude -98.51689
Frisco Independent School District: Latitude 32.307856, Longitude -101.928432
Gladwin Community Schools: Latitude 41.9890471, Longitude -84.34117401639081
Goddard Public Schools: Latitude 37.65974, Longitude -97.57533
Granbury Independent School District: Latitude 32.307856, Longitude -101.928432
Granite School District: Latitude N/A, Longitude N/A
Hamilton County Schools: Latitude 35.184461, Longitude -85.168814
Hamilton Southeastern Schools: Latitude 39.9687225, Longitude -85.91528455293334
Hanover County Public Schools: Latitude N/A, Longitude N/A
Harlem School District 122: Latitude N/A, Longitude N/A
Harrisonburg City Public Schools: Latitude 38.4238167, Longitude -78.8447302
Haywood County Schools: Latitude 35.57379, Longitude -82.99968
Henrico County Public Schools: Latitude 37.604456, Longitude -77.433246
Hernando School District: Latitude 28.896994, Longitude -82.384227
Hudson City Schools: Latitude N/A, Longitude N/A
Hudsonville Public Schools: Latitude 42.8544904, Longitude -85.8599801
Indian River County School District: Latitude N/A, Longitude N/A
Iredell-Statesville School District: Latitude N/A, Longitude N/A
Jackson County School District: Latitude N/A, Longitude N/A
Katy Independent School District: Latitude 32.930896, Longitude -102.127635
Keller Independent School District: Latitude 32.307856, Longitude -101.928432
Kent School District: Latitude 47.3711726, Longitude -122.1795862
Keokuk Community School District: Latitude 42.934105, Longitude -94.682157
Killeen Independent School District: Latitude 31.09591, Longitude -97.69876
Klein Independent School District: Latitude 32.307856, Longitude -101.928432
Kutztown Area School District: Latitude 40.7075231, Longitude -80.2783549
Lake County Schools: Latitude 28.771354, Longitude -81.807497
Lake Forest Schools: Latitude 42.2237746, Longitude -87.8746205
Lake Travis Independent School District: Latitude 30.278199700000002, Longitude -97.81648224686293
Lamar Consolidated Independent School District: Latitude 26.40981, Longitude -97.79814
Leander Independent School District: Latitude 32.930896, Longitude -102.127635
Lee County Schools: Latitude 26.550097, Longitude -81.830883
Lindbergh Schools: Latitude N/A, Longitude N/A
Loudoun County Public Schools: Latitude 39.03389, Longitude -77.51722
Lower Township Elementary School District: Latitude N/A, Longitude N/A
Madison County Schools: Latitude N/A, Longitude N/A
Marlboro Central School District: Latitude 44.5817123, Longitude -73.5359697
McMinn County Schools: Latitude 35.416897, Longitude -84.613091
Medford School District 549C: Latitude 42.338167, Longitude -122.852301
Middlebury Community Schools: Latitude 39.129933050000005, Longitude -85.1279537080936
Monett R-1 School District: Latitude N/A, Longitude N/A
Moore County Schools: Latitude 35.300587, Longitude -79.476361
Muskego-Norway Schools: Latitude 42.898037450000004, Longitude -88.16607679448668
Nampa School District: Latitude N/A, Longitude N/A
New Kent County Public Schools: Latitude 37.502851, Longitude -77.12473
Nixa Public Schools: Latitude 37.04531, Longitude -93.31005
North East Independent School District: Latitude 29.87058, Longitude -95.29909
North Kansas City Schools: Latitude 39.14227, Longitude -94.544242
North Penn School District: Latitude 40.234237, Longitude -75.315072
Novi Community School District: Latitude N/A, Longitude N/A
Oconomowoc Area School District: Latitude N/A, Longitude N/A
Orange County Public Schools: Latitude N/A, Longitude N/A
Osceola County School District: Latitude N/A, Longitude N/A
Ottumwa Community School District: Latitude 42.934105, Longitude -94.682157
Palm Beach County School District: Latitude 26.6495165, Longitude -80.0933387
Pawtucket School Department: Latitude 41.87264, Longitude -71.37146
Pennridge School District: Latitude 40.3843088, Longitude -75.2748505
Pinellas County Schools: Latitude 27.8211366, Longitude -82.6817662
Pitt County Schools: Latitude 35.603252, Longitude -77.34917
Polk County Public Schools: Latitude N/A, Longitude N/A
Prosper Independent School District: Latitude 32.307856, Longitude -101.928432
ROWVA CUSD 208: Latitude 41.07609, Longitude -90.2197
Rapid City Area Schools: Latitude 44.068767, Longitude -103.226164
Regional School Unit No. 56: Latitude N/A, Longitude N/A
Richardson Independent School District: Latitude 32.307856, Longitude -101.928432
Roanoke County Public Schools: Latitude 37.27097, Longitude -79.94143
Rochester Community Schools District: Latitude 42.6815311, Longitude -83.1400117
Rockwood School District: Latitude 38.5102297, Longitude -90.62391652432854
Santa Rosa County District Schools: Latitude 30.715738, Longitude -87.018355
Sarasota County School: Latitude 27.338506000000002, Longitude -82.54754950930965
School District of Cadott Community: Latitude 44.031211, Longitude -89.510986
School District of Waukesha: Latitude 42.982153, Longitude -88.246687
Siloam Springs School District: Latitude 33.87889765, Longitude -93.91953756862382
Sparta Township Public Schools: Latitude N/A, Longitude N/A
Spotsylvania County Public Schools: Latitude 38.2202509, Longitude -77.4406119
Spring Branch Independent School District: Latitude N/A, Longitude N/A
St. Johns County School District: Latitude 29.9186712, Longitude -81.3214582

St. Lucie Public Schools: Latitude 27.44393, Longitude -80.33394
Tyler Independent School District: Latitude 32.307856, Longitude -101.928432
Virginia Beach City Public Schools: Latitude 36.8435561, Longitude -76.07072285323034
Volusia County Schools: Latitude 29.052386, Longitude -81.156198
Walla Walla Public Schools: Latitude 46.047531, Longitude -118.393981
Waller Independent School District: Latitude 32.307856, Longitude -101.928432
Walton County School District: Latitude 30.7208375, Longitude -86.0986213
Wappingers Central School District: Latitude 44.5817123, Longitude -73.5359697
Washington County School District: Latitude N/A, Longitude N/A
Waukee Community School District: Latitude 41.603649399999995, Longitude -93.86738586770184
Wayzata Public Schools: Latitude 44.97679185, Longitude -93.53993322624953
Wentzville School District: Latitude 38.8121838, Longitude -90.86833887885356
West Ada School District: Latitude 43.574509000000006, Longitude -116.2833232525641
Westfield Public Schools: Latitude N/A, Longitude N/A
Wicomico County Public Schools: Latitude 38.382985250000004, Longitude -75.6035003088123
Wilkes County School District: Latitude N/A, Longitude N/A
Williamson County Schools: Latitude 35.9513126, Longitude -86.6709737
Wilson County School District: Latitude N/A, Longitude N/A
Wissahickon School District: Latitude 40.01872, Longitude -75.21185
Yorktown Central School District: Latitude 44.5817123, Longitude -73.5359697

,District,State,Origin_of_Challenge,Date_of_Challenge_or_Removal,Type_of_Ban,Author,Title,Latitude,Longitude,Dis_lat,Dis_lng
0,Anchorage School District,Alaska,Administrator,2021-10-01,Banned in Libraries and Classrooms,"Kobabe, Maia",Gender Queer: A Memoir,66.160507,-153.369141,N/A,N/A
1,Ankeny Community School District,Iowa,Formal Challenge,2021-11-01,Banned in Libraries and Classrooms,"Kobabe, Maia",Gender Queer: A Memoir,42.032974,-93.581543,42.934105,-94.682157
2,Birdville Independent School District,Texas,Formal Challenge,2021-10-01,Banned Pending Investigation,"Kuklin, Susan",Beyond Magenta: Transgender Teens Speak Out,31.000000,-100.000000,32.307856,-101.928432
3,Bixby Public Schools,Oklahoma,Administrator,2022-06-01,Banned in Libraries and Classrooms,"Curato, Mike",Flamer,36.084621,-96.921387,N/A,N/A
4,Blount County Schools,Tennessee,Formal Challenge,2022-02-01,Banned in Classrooms,"Yep, Laurence",Dragonwings,35.860119,-86.660156,35.682895,-83.920622

In [39]:
state_district_group_df = state_district_group_df[["District", "State", "Dis_lat", "Dis_lng"]]
state_district_group_df

,District,State,Dis_lat,Dis_lng
0,Anchorage School District,Alaska,N/A,N/A
1,Ankeny Community School District,Iowa,42.934105,-94.682157
2,Birdville Independent School District,Texas,32.307856,-101.928432
3,Bixby Public Schools,Oklahoma,N/A,N/A
4,Blount County Schools,Tennessee,35.682895,-83.920622
...,...,...,...,...
133,Wilkes County School District,North Carolina,N/A,N/A
134,Williamson County Schools,Tennessee,35.951313,-86.670974
135,Wilson County School District,Tennessee,N/A,N/A
136,Wissahickon School District,Pennsylvania,40.01872,-75.21185
137,Yorktown Central School District,New York,44.581712,-73.53597

In [35]:
state_district_group_df.to_csv('distric_lat_lng.csv', index=False)

In [36]:
file_path = 'data/distric_lat_lng1.csv'  # Assuming a 'data' folder exists in the current directory
na_df = pd.read_csv(file_path)
na_df.head()

                                 District     State    Dis_lat     Dis_lng
0               Anchorage School District    Alaska  61.246930 -149.688425
1                    Bixby Public Schools  Oklahoma  35.941919  -95.883104
2  Bonneville Joint School District No 93     Idaho  43.528699 -111.964787
3                  Bristow Public Schools  Oklahoma  35.832822  -96.396267
4                 Canyons School District      Utah  40.563512 -111.835104

In [40]:
combine_lat_lng_df = pd.merge(state_district_group_df, na_df, on="District", how="outer")
combine_lat_lng_df

,District,State_x,Dis_lat_x,Dis_lng_x,State_y,Dis_lat_y,Dis_lng_y
0,Anchorage School District,Alaska,N/A,N/A,Alaska,61.246930,-149.688425
1,Ankeny Community School District,Iowa,42.934105,-94.682157,NaN,NaN,NaN
2,Birdville Independent School District,Texas,32.307856,-101.928432,NaN,NaN,NaN
3,Bixby Public Schools,Oklahoma,N/A,N/A,Oklahoma,35.941919,-95.883104
4,Blount County Schools,Tennessee,35.682895,-83.920622,NaN,NaN,NaN
...,...,...,...,...,...,...,...
133,Wilkes County School District,North Carolina,N/A,N/A,North Carolina,36.176242,-81.151499
134,Williamson County Schools,Tennessee,35.951313,-86.670974,NaN,NaN,NaN
135,Wilson County School District,Tennessee,N/A,N/A,Tennessee,36.202720,-86.285638
136,Wissahickon School District,Pennsylvania,40.01872,-75.21185,NaN,NaN,NaN
137,Yorktown Central School District,New York,44.581712,-73.53597,NaN,NaN,NaN

In [42]:
# Fill NaN values for specific columns (e.g., 'Latitude', 'Longitude')
# This is just an example; you'll need to adjust column names based on your actual DataFrame
combine_lat_lng_df['Dis_Latitude'] = combine_lat_lng_df['Dis_lat_y'].fillna(combine_lat_lng_df['Dis_lat_x'])
combine_lat_lng_df['Dis_Longitude'] = combine_lat_lng_df['Dis_lng_y'].fillna(combine_lat_lng_df['Dis_lng_x'])

combine_lat_lng_df.drop(['Dis_lat_x', 'Dis_lng_x', 'State_y', 'Dis_lat_y', 'Dis_lng_y'], axis=1, inplace=True)

combine_lat_lng_df

,District,State_x,Dis_Latitude,Dis_Longitude
0,Anchorage School District,Alaska,61.246930,-149.688425
1,Ankeny Community School District,Iowa,42.934105,-94.682157
2,Birdville Independent School District,Texas,32.307856,-101.928432
3,Bixby Public Schools,Oklahoma,35.941919,-95.883104
4,Blount County Schools,Tennessee,35.682895,-83.920622
...,...,...,...,...
133,Wilkes County School District,North Carolina,36.176242,-81.151499
134,Williamson County Schools,Tennessee,35.951313,-86.670974
135,Wilson County School District,Tennessee,36.202720,-86.285638
136,Wissahickon School District,Pennsylvania,40.018720,-75.211850
137,Yorktown Central School District,New York,44.581712,-73.535970

In [43]:
combine_lat_lng_df.to_csv('statedistrict_lat_lng.csv', index=False)